{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block css %}

{% endblock %}

{% load crispy_forms_tags %}
{% block block_title %}
  {{ user }}
{% endblock %}

{% block block_body %}
  {% for blog in user.author_blog.all %}
    <h3>{{blog.blog_title}}</h3>
    <h6>{{blog.publish_date}}</h6>
    <div class="row">
      
      <div class="col-sm-4">
        <img src="/media/{{blog.blog_image}}" alt="{{blog.blog_title}}" srcset="" width="100%">
        
      </div>
      <div class="col-sm-8">
        <p>{{blog.blog_content | range_filter|linebreaks}}</p>
        <a href="{% url 'App_Blog:blog_details' slug=blog.slug %}">Read More</a>
      </div>
    </div>
    <a href="{% url 'App_Blog:edit_blogs' pk=blog.pk %}">Edit</a>
    <hr>
  {% endfor %}
{% endblock %}
