{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}Crea A New Account{% endblock title_block %}

{% block block_body %}
{% load crispy_forms_tags %}
    {% if register %}

    <div class="alert alert-success">
        Account is created successfully. <a href="">Login here</a>
    </div>

    {% else %}

    <h1>Create A New Account</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-success btn-sm">Create an Account</button>
    </form>

    {% endif %}

{% endblock block_body %}
